/dev-shipperhq/data linguist-generated=true
/dev-shipperhq/versioned_docs linguist-generated=true
/dev-shipperhq/versioned_sidebars linguist-generated=true
/dev-shipperhq/docs/label-service linguist-generated=true
/dev-shipperhq/docs/order-view-service linguist-generated=true
/dev-shipperhq/docs/rate-manager-service linguist-generated=true
/dev-shipperhq/docs/rate-service linguist-generated=true